{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'general/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'general/css/general.css' %}" />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    {% block 'head' %}{% endblock %}

    <title>{% block 'title' %}{% endblock %}</title>
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <div class="logo_name">MECAJATO</div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <ul class="nav-list">
        <li>
          <a href="#" class="btn_pagina_inicial">
            <i class="bx bx-grid-alt pagina_inicial"></i>
            <span class="links_name">Página inicial</span>
          </a>
          <span class="tooltip">Página inicial</span>
        </li>
        <li>
          <a href="#" class="btn_pagina_cliente>
            <i class="bx bx-user pagina_cliente></i>
            <span class="links_name">Clientes</span>
          </a>
          <span class="tooltip">Clientes</span>
        </li>
        <li>
          <a href="#" class="btn_pagina_servicos">
            <i class="bx bx-chat pagina_servicos"></i>
            <span class="links_name">Serviços</span>
          </a>
          <span class="tooltip">Serviços</span>
        </li>
        <li>
          <a href="#" class="pagina_agenda">
            <i class="bx bx-folder pagina_agenda"></i>
            <span class="links_name">Agenda</span>
          </a>
          <span class="tooltip">Agenda</span>
        </li>
        <li>
          <a href="#" class="btn_pagina_historico">
            <i class="bx bx-cog pagina_historico"></i>
            <span class="links_name">Histórico</span>
          </a>
          <span class="tooltip">Histórico</span>
        </li>
      </ul>
    </div>

    <section class="home-section">
      {% block 'dashboard'%} {% endblock %}
    </section>

    {% block 'body' %} {% endblock %}
    <script src="{% static 'general/js/base.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
